@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-size: 100%;
}

#root {
  margin: 0;
  display: flex;
  justify-content: center;
}

::placeholder {
  color: rgb(66, 66, 66);
}

/* 
/////////////////modalEdit */

.modal_edit_background {
  position: fixed;
  width: 90%;
  height: 40%;
  right: 5%;
  top: 15%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  display: block;
}

.modal_edit_container {
  position: absolute;
  width: 100%;
  height: 85%;
  top: 15%;
  background-color: rgb(235, 235, 235);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.modal_close {
  position: relative;
  width: 2rem;
  height: 2rem;
  top: -15%;
  left: 42%;
}

.profile_user_edit {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: aqua;
  top: -15%;
}

.input_edit_Post {
  width: 80%;
  height: 8rem;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(65, 213, 218, 0.253);
  border-bottom: 3px solid #00f7ff;
}

.btn_saveChanges {
  width: 90%;
  height: 3rem;
  font-size: 1.2rem;
  background-color: #00f7ff;
  color: black;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  margin: 0.5rem;
  border: none;
  top: 95%;
}
