@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-size: 100%;
}

#root {
  margin: 0;
  display: flex;
  justify-content: center; 
}

::placeholder { color: rgb(66, 66, 66); }