@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');
.menu-profile-section {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 10rem;
  margin: 0;
  background: #E78BB7;
  left: 0%;
  box-shadow: 0px 2px #888888;
}

.menu-profile-image {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 0;
  top: 2.5rem;
  left: 1.5rem;
  border-radius: 100%;
}

.menu-name {
  position: relative;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  top: 4.1rem;
  height: 2rem;
  left: 3rem;
}

#menu-close {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.5rem;
  left: 5rem;
}

/* ///////////////////////////////nav */
.menu-nav-section {
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  top: 10rem;
  left: 0;
}

#menu-icon-id {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 4rem;
  margin: 0;
}

.menu-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0;
  top: 0.5rem;
  left: 2.5rem;
}

.menu-tittle {
  position: relative;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  top: 1.1rem;
  height: 2.5rem;
  left: 5rem;
}

.my-profile {
  left: 0%;
  top: 10rem;
}

.my-pets {
  left: 0%;
  top: 14rem;
  /* box-shadow: 0px 2px #888888; */
}

.menu-adopt {
  left: 0%;
  top: 18rem;
}

.menu-training {
  left: 0%;
  top: 22rem;
}

.menu-memes {
  left: 0%;
  top: 26rem;
}

.menu-match {
  left: 0%;
  top: 30rem;
}

.menu-LogOut {
  left: 0%;
  bottom: 0;
  box-shadow: 0px 0px 10px 0px #888888;
}