@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap");

.content-timeline {
  background-color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
  width: 100%;
  display: flex;
}

.content-all-timeline {
  margin: 0;
  width: 100%;
}

.timeline-header {
  background-color: #4cdee2;
  margin: 0;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 1;
  /* margin-top: 0; */
}

.solovino-logo-timeline {
  width: 25%;
  margin: 0 37.5% 0;
  top: 0;
}

#postContent {
  background-color: #D6D6D6;
  width: 100%;
  height: 4.5rem;
  top: 5rem;
  position: fixed;
  z-index: 1;
}

.post {
  width: 50%;
  height: 50%;
  background-color: none;
}


.to-post {
  margin-left:0%;
}

.menu-nav {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3%;
  left: 6%;
}

/* ////////////////Posts */

.posts_container{
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
 top: 8rem;
  position: relative;
}
.content_post{
  background-color: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-wrap: wrap;
}

.Post_user_data {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
}

.Post_ImgUser {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  margin: 1rem 1rem 1rem 0;
  padding-left: 10%;
}

.Post_displayName {
  font-size: large;
  margin: 1rem 0 0 0;
}

.post_date {
  font-size: .7rem;
  margin: .3rem 0 0 0;
}

.text_post {
  width: 80%;
  word-wrap: break-word;
  padding-left: 10%;
}

.update_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 3px solid #00f7ff;
}

.post_interactions {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like {
padding-left: 10%;
}

.like_number {
  font-size: 1.2rem;
  text-align: start;
  margin: 0;
}

.update_post{
  visibility: visible;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  }


.delete_post,
.edit_post, .like {
  width: 1.5rem;
  height: 1.5rem;
  margin: .5rem 1rem;
}


 /* //////////////.update_post */




.show_update_wrapper{
visibility: visible;

}

@media (max-width: 450px) {
  .content-timeline {
    /* background-image: url("../Resourses/fondo\ crear\ cuenta_Mesa\ de\ trabajo\ 1.jpg"); */
    /* background-size: 100%; */
    background-color: white;
    font-family: "Lato", sans-serif;
    margin: 0;
  }

  .content-all-timeline {
    margin: 0;
  }

  .timeline-header {
    background-color: #4cdee2;
  }

  .solovino-logo-timeline {
    width: 60%;
    top: 0;
    margin: 0 20% 0;
  }

  .sing-out {
    margin: 0 0 0 75%;
    background-color: #4cdee2;
    color: black;
    width: 25%;
  }


/* 
  .post-element {
    border-style: solid;
    border-color: #4cdee2;
    margin: 5% 4%;
    background-color: #f3f3f3;
    padding: 1%;
    width: 90%;
  }
  .text-post {
    word-wrap: break-word;
    width: 100%;
    font-size: small;
    margin-left: 3%;
    padding-left: 10%;
  }

  .user-img {
    width: auto;
    height: 30px;
    margin: 2%;
  }
  .name-user {
    font-size: medium;
    margin: 3% 0 0 5%;
    width: 100%;
  }
  .date {
    font-size: small;
    width: 100%;
    margin: 0 0 0 5%;
  }

  .interactions {
    width: 100%;
    display: flex;
    text-align: end;
    margin: 0;
  }

  .like {
    height: min-content;
    width: 5%;
    margin: 0% 2% 0 70%;
  }
  .like-number {
    font-size: small;
    text-align: start;
    margin: 0;
  }

  .delete,
  .edit {
    height: min-content;
    width: 5%;
    margin: 0 1% 0 2%;
  }

  #return_index {
    background: pink;
    width: 50%;
    margin: 2% 25% 0%;
  } */
}
