/* STYLES Timeline */

/***********************************************/
/* .solovino_working_img {
  width: 50%;
  margin: 2% 25%;
}

.solovino_working {
  width: 25%;
  margin: 5% 37.5% 0%;
  font-size: medium;
  text-align: center;
} */
.content-timeline {
  background-image: url("../Resourses/fondo\ crear\ cuenta_Mesa\ de\ trabajo\ 1.jpg");
  background-size: 100%;
  font-family: "Lato", sans-serif;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.timelineHeader {
  background-color: #4cdee2;
  width: 100%;
  height: 10%;
  position: absolute;
}

.solovinoLogoTimeline {
  position: fixed;
  width: 100%;
  top: 0;
}
.post {
}

#return_index {
  background: pink;
  width: 50%;
  margin: 2% 25% 0%;
}
