@media screen and (min-width: 844px) {
    body {
        display: flex;
        justify-content: center;
    }

    .containerStart {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #6462D9;
        width: 300px;
        padding: 10px;
        border-radius: 20px;
        row-gap: 5px;
        margin-top: 30%;

    }

    .welcomeText {
        text-align: center;
    }

    .logo {
        max-width: 50%;
    }

    .containerButtons {
        Display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        top: 15rem;

    }

    .button {
        /* display:flex; */
        background-color: #6462D9;
        color: #ffff;
        border: 3px solid #3734CE;
        font-size: 1rem;
        width: auto;
        min-width: 6rem;
        padding: 10px 25px 10px 25px;
        text-align: center;
        border-radius: 35px;
        text-decoration: none;
    }

    .githubGoogleButtons {
        display: flex;
        row-gap: 6px;
        flex-direction: column;
        min-width: 6rem;
    }

    .register {
        border-radius: 6px;
        width: 280px;
        height: 35px;
        border: 2px solid #a4a3dd;
        font-size: .8rem;
        caret-color: #3734CE;
        padding: 0px 5px 0px 5px;
    }

    .invalidInput {
        border-color: rgb(231, 130, 48);
    }

    .invalidMessage {
        color: red;
        font-size: 11px;
        margin-right: auto;
    }

    .displayNone {
        display: none;
    }

    .containerPassCSS {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .register:focus {
        outline: none;
        border: 3px solid #3734CE;
    }

    .register:focus-visible {
        outline-offset: 0px;
    }

    .registerText {
        text-align: center;
    }

    .registerButton {
        background-color: #AE69BF;
        color: #ffff;
        font-size: .8rem;
        width: 135px;
        padding: 10px 15px 10px 15px;
        text-align: center;
        border-radius: 35px;
        text-decoration: none;
    }

    .containerRegister {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        row-gap: 3px;
        border: 3px solid #6462D9;
        width: 400px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.199), 0 8px 16px rgba(0, 0, 0, 0.342);
        font-family: 'Roboto', sans-serif;
    }
    * {
        font-family: 'Roboto', sans-serif;
    }
    #maskify {
        position: absolute;
        right: 8px;
    }

    #imgMaskify {
        position: relative;
        top: -163px;
        left: 125px;
    }

    .containerLogin {
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
        row-gap: 5px;
        border: 3px solid #6462D9;
        width: 300px;
    }

    .containerInputR {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
    }

    .arrowBack {
        display: none;
    }
   

/*FEED */
/*Vista feed */
    #navMobile{
    display:none;
    }
    #feedView{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    
    }
    #postFeed{
    margin-top:5%;
    width:35vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    }
    .sectionPost{
    background-color:white;
    border: 3px solid #a4a3dd;
    border-radius:10px;
    }

    #feedHeader{
    position: sticky;
    top: 0px;
    display: flex;
    background-color: #A653BB;
    width: 100%;
    height: 10%;
    align-items:center;
    z-index: 101;
    padding-left: 10%;

    }
    #navDesktop{
    position: absolute;
    left: 90vw;
    display: flex;
    background-color: #A653BB;
    width: 10%;
    height: 100%;
    column-gap: 35px;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    z-index: 100;
} 

    #searchFeed{
    width:30%;
    margin-right: 10px;
    }  
 
/* Aqui inician los estilos del modal */
#containerModal{
    position: fixed;
    left: 30%;
    top: 65%;
    width: 30vw;
    padding-bottom: 40px;    
    background-color: #AE69BF;
    border: 1px solid #3734CE;
    color:#ffff;
    z-index: 100000;
    text-align: center;
    border-radius: 15px;

}
#containerModalB{
    position: absolute;
    left: 20%;
    top: 60%;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}
#yesSignOut{
    padding: 2px 12px 2px 12px;
    background-color: #AE69BF;
    font-size: 0.9rem;
    width: auto;
    text-align: center;
}
#noSignOut{
    padding: 2px 10px 2px 10px;
    background-color: #AE69BF;
    font-size: 0.9rem;
    width: auto;
    text-align: center;
}

   #createPost {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 40vw;
        row-gap: 10px;
        padding-bottom: 1%;
    }
    #createPostModal {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 40vw;
        row-gap: 10px;
        padding-bottom: 1%;
    }
  
    #logoFeed {
        height: 60px;
        width: 60px;
        margin-right: 10px;
        margin-top: 10px;
    }
    

    /* POST TEMPLATE */
  
    .templateTop{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5%;
    margin-top: 3%;
    margin-left:5%
    }
    
    #buttonDelete{
    position: relative;
    left: 35px;
    max-width: 18px;
    max-height: 18px;
    }
    #buttonEdit{
    position: relative;
    left: 30px;
    max-width: 20px;
    max-height: 20px;
    }
    #inputPost{
        margin-top:5%;
        width: 80%;
        margin-left: 5%;
        height: 40px;
        word-wrap: break-word;
    
    }
    #likeComment{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 10%;
        align-items: center;
        margin-bottom:5%;
    }
    #postDate{
        font-size:0.5rem;
        font-weight: bold;
    }
    
    #profilePic{
        max-width: 50px;
        border-radius: 50px;
    }

    #sendPost.button{
        margin-left: 190px;
        padding-top: 3px;
        width: 5px;
        height: 25px;
        text-align: center;
        font-size: 10px;
        align-items: center;
        justify-items: center;
    }
    #sendPost.button{
        margin-left: 190px;
        padding-top: 3px;
        width: 5px;
        height: 25px;
        text-align: center;
        font-size: 10px;
        align-items: center;
        justify-items: center;
    }
    #sendPostModal.button{
        margin-left: 190px;
        padding-top: 3px;
        width: 5px;
        height: 25px;
        text-align: center;
        font-size: 10px;
        align-items: center;
        justify-items: center;
    }
    .profileName{
        background-color: white;
        border: 2px solid #3734CE; 
        opacity: 0.8;
        color:black;
        width: 100%;
        height: 30px;
        border-radius: 15px;
        text-align: left;
        justify-content: center;
        padding-top:2%;
        padding-left: 4%;
       
    }
  
    #inputPostModal {
        margin-top:5%;
        width: 80%;
        margin-left: 5%;
        height: 40px;
        word-wrap: break-word;
    
    }
    
   
    /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 42%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

}


