/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
    background-color:rgba(253, 230, 233, 0.7);
  }
  
  .slideshow-container img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Hide the images by default */
  .slide {
    display: none;
  }
  
  /* Next & previous buttons */
  .btnPrev, .btnNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 11px;
    background-color: #F5F5F5;
    color: #951C45;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    box-shadow: 0 8px 8px 0 rgba(128, 128, 128, 0.295);
    border: 3px solid #951C45;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .btnNext {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .btnPrev:hover, .btnNext:hover {
    color:#F5F5F5;
    background-color: rgba(0,0,0,0.8);
  }

  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }