@media screen and (max-width: 480px){
    #root{
        display:flex;
        flex-wrap: wrap;
    }
    body {
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 20px;
    }

.containerStart{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius:20px;
        row-gap: 5px;
        margin-top: 30%
    }
    .welcomeText{
        text-align: center;
        }

.containerButtons{
    Display:flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.logo{
    max-width: 100%;
}

.button {
 /* display:flex; */
 background-color: #6462D9;
 color:#ffff;
 border: 3px solid #3734CE;
 font-size: 1rem;
 width: auto;
 min-width: 10rem;
 text-align: center;
 border-radius: 25px;
 text-decoration: none;
 padding: 10px 15px 10px 15px;
}
.githubGoogleButtons{
    display: flex;
    row-gap: 5px;
    flex-direction: column;
}
.register{
    border-radius: 6px;
    width: 300px;
    height:35px;
    text-align: center;
    border: 3px solid #a4a3dd;
    font-size: 1.2rem;
}
.invalidInput{
    border-color: rgb(231, 130, 48);
}
.invalidMessage{
    color: red;
    font-size: 11px;
    margin-right: auto;
}
.displayNone{
    display: none;
}
.containerPassCSS{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.registerText{
    text-align: center; 
}
.containerRegister{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius:20px;
    row-gap: 5px;
}
.register:focus{
    outline: none;
    border: 3px solid #3734CE;
}
.register:focus-visible{
    outline-offset: 0px;
}
.registerText{
    text-align: center; 
}

#maskify{
    position: absolute;
    right: 8px;
}
#imgMaskify{
    position: relative;
    top: -153px;
    left: 125px;
}

.registerButton{
    background-color: #AE69BF;
    color:#ffff;
    font-size: 1rem;
     width: 135px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    border-radius: 35px;
    text-decoration: none;
}
.containerInputR{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}
/*FEED */
/*Vista feed */
#navDesktop{
    display:none;
}
#feedView{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    
}
#postFeed{
    margin-top:5%;
    width: 95vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.sectionPost{
    background-color:white;
    border: 3px solid #a4a3dd;
    border-radius:10px;
}
#createPost{
    display: flex;
    flex-direction:column;
    margin-top:5%;
   width: 95vw; 
   row-gap: 10px;
   padding-bottom: 1%;
}
#sendPost{
    width: 10%;
    height: 10%;
    text-align: center;
    font-size: 10px;
}

#feedHeader{
    position: sticky;
    top: 0px;
    display: flex;
    background-color: #A653BB;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    align-items:center;
    z-index: 101;

}
#feedFooter{
    position: sticky;
    bottom: 0px;
    display: flex;
    background-color: #A653BB;
    width: 100%;
    height: 20%;
    column-gap: 60px;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    z-index: 100;
}
#navMobile{
    display: flex;
    background-color: #A653BB;
    width: 100%;
    height: 100%;
    column-gap: 60px;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    z-index: 100;

}
#searchFeed{
    width:100%;
    margin-right: 10px;
}
#logoFeed{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top:10px;
}


/* POST TEMPLATE */
/* 
#divPost{
   display: flex;
   flex-direction: column;
   background-color: white;
   width: 90%;
   row-gap: auto;
   border: 3px solid #9531AE;
} */
.templateTop{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5%;
    margin-top: 3%;
    margin-left:5%
}
.profileName{
    background-color:#1F1BC8;
    opacity: 0.8;
    color:white;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    text-align: left;
    padding-top:2%;
    padding-left: 4%;
   
}
#dotsEdit{
    position: relative;
    left: 35px;
}
#inputPost{
    width: 80%;
    margin-left: 5%;
    height: auto;
    word-wrap: break-word;

}
#likeComment{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10%;
    align-items: center;
    margin-bottom:5%;
}
#postDate{
    font-size:0.5rem;
    font-weight: bold;
}
#likes{
font-size:0.8rem;
}
    
/* Aqui inician los estilos del modal */
#containerModal{
    position: absolute;
    left: 15%;
    top: 40%;
    width: 70vw;
    padding-bottom: 40px;    
    background-color: #9a99d5;
    border: 1px solid #3734CE;
    z-index: 100000;
    text-align: center;
    border-radius: 15px;

}
#containerModalB{
    position: absolute;
    left: 26%;
    top: 60%;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}
#yesSignOut{
    background-color: #6462D9;
    color:#ffff;
    padding: 2px 12px 2px 12px;
    border: 3px solid #3734CE;
    font-size: 0.9rem;
    width: auto;
    text-align: center;
    border-radius: 20px;
}
#noSignOut{
    background-color: #6462D9;
    color:#ffff;
    padding: 2px 10px 2px 10px;
    border: 3px solid #3734CE;
    font-size: 0.9rem;
    width: auto;
    text-align: center;
    border-radius: 20px;
}    
    
/* #commentInput{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
} */

}

