@media (min-width:801px){
   
    body{
           background-color: #EBC920;
           margin: 0;
           font-family:  'Roboto', sans-serif;
           font-weight: bold;
           
       }
    #cocina{
        margin: 0%;
        width: 45%;
        height: 100%;
        position: fixed;
    }
    #login{
        width: 27%;
        height: 78%;
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 18px;
        box-shadow: 2px 2px 2px 2px rgba(56, 55, 55, 0.527);
        position: absolute;
        top: 11%;
        left: 58%;
        padding: 1%;
    }
    #logoinicio{
        width: 55%;
        position: relative;
        top: 2%;
        left: 23%;
     
    }
    input{
        width: 65%;
        height: 5%;
        border: 1.5px solid #EBC920;
        border-radius: 5px;
        padding: 2%;
    }
    textarea:focus, input:focus {
       outline: none; 
       border: 2.5px solid #EBC920;
     }
    #email{
        position: relative;
        top: 8%;
        left: 14%;
    }
    #contraseña{
        position: relative;
        top: 11%;
        left: 14%;
        
    }
    .botones{
        width: 45%;
        height: 7%;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px rgba(56, 55, 55, 0.527);
        border: none;
        font-family:  'Roboto', sans-serif;
        font-weight: bold;
        cursor: pointer;
    }
     #loginbo{
        background-color: black;
        color: white;
        position: relative;
        top: 15%;
        left: 27%;
    }
    #loginbo:hover{
       background-color: rgba(34, 33, 33, 0.973);
       
   }
    #google{
       background-color: white;
       color: black;
       position: relative;
       top: 27%;
       right: 19%;
       
     
   }
    #iconogoo{
       width: 12%;
   }
    #letras1{
        font-size: 11px;
        position: relative;
        top: 28%;
        left: 29%;
    }
    .letras2{
       font-size: 14px;
       position: relative;
       top: 29%;
       left: 22%;
   }
   .invisible{
       font-size: 13px;
       background: none;
       border: none;
       font-weight: bold;
       cursor: pointer;
   }
   #registro{
    position: relative;
    top: 27%;
    left: 37%;
    text-decoration-line: underline;
   }
   #registrar{
           background-color: black;
           color: white;
           position: relative;
           top: 15%;
           left: 27%;
       }
       #loginbo:hover{
          background-color: rgba(34, 33, 33, 0.973);
          
      }
      #botonRegi{
          position: relative;
          top: 25%;
          left:27%;
          background-color: black;
          color: white;
      }
      #emailRegi{
          position: relative;
          top:8%;
          left: 14%;
      }
      #contraseñaRegi{
        position:relative;
        top:11%;
        left:14%; 
      }
      #contraseñaRegidos{
        position:relative;
        top:14%;
        left:14%; 
      }
      .modal1{
        position:absolute;
        width: 20%;
        height: 39%;
        background-color: white;
        border-radius: 10px;
        left: 85%;
        top:50%;
        border: 2px solid #FF0606;
        transform: translate(-50%, -50%);
    }
    .contmodal{
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 9999;
        visibility: hidden;
        opacity: 0;
        transition: all 600ms;
    
    }
    #iconomal{
     position: relative;
     width: 30%;
     left: 35%;
     top:10%;
    }
    .mensajemal{
        text-align: center;
        position: relative;
        top:5%;
    }
    #botonVolver{
        background-color: black;
        color: white;
        width: 45%;
        height: 12%;
        position: relative;
        left: 27.5%;
        top: 5%;
    }
    a{
        text-decoration:none ;
        color: white;
    }
    #ojito{
        background: none;
        border: none;
        position: absolute;
        top: 45.3%;
        left: 71%;
        cursor: pointer;
    }
    #seccionMuro{
        background-color: white;
        width: 100%;
        height: 100%;
       
       /* display: flex;
        flex-wrap: wrap;*/
    }
    #cabeza{
        position: relative;
        background-color: #EBC920;
        width: 100%;
        height: 10%;
    }
    #buscador {
        width: 20%;
        height: 1.5%;
        padding: 1%;
        position: absolute;
        top: 42%;
        left: 58%;
    }
    #lupaimg{
        width:100%;
    }
    #lupita{
        width: 2.6%;
        position: absolute;
        top: 42.5%;
        left: 75.3%;
        background-color: #ebc920a1;
        border: none;
        cursor: pointer;
    }
    #filtrador{
        position: absolute;
        width: 8%;
        height: 33%;
        top: 42%;
        font-size:medium;
        left: 90%;
        border-radius: 5px;
        border: none;
        background-color: #EBC920;
        font-weight:800;
    }
    #logoMuro{
        width: 11%;
        position: relative;
        margin: 0.5%;
        margin-left: 1%;
    }
    #contenedorPerfil{
        width: 25%;
        height: 528px;
        background-color: #F8ECB1;
        position: relative;
        left: 75%;
        display: flex;
    }
    #perfilCaja{
        position: relative;
        left: 10%;
        background-color: #EBC920;
        width: 80%;
        height: 80%;
        border-radius: 10px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #fotoPortada{
        width: 100%;
        display: flex;
    }
    #fotousuario{
         position: absolute;
         top: 18%;
         left: 28%;
         width: 45%;
    }
    #nombreUser{
        width:fit-content;
        position: relative;
        top: 14%;
        left: 38%;
        font-size: 18px;
        font-weight: bold;
    }
    #btnCerrarSesion{
        background: red;
        border: none;
        position: relative;
        top: 40%;
        color: black;
        font-size: medium;
        font-weight: bold;
        cursor: pointer;
        width: 70%;
        height: 10%;
    }
    #cerrarSesionImg{
        width: 20%;
        position: relative;
        right: 60%;
        bottom: 5%;
      
        
    }

    #publicar{
        position: absolute;
        left: 7%;
        top: 21%;
        width: 59%;
        margin: 0%;
        display: flex;
        align-items: center;
        border-radius: 12px;
        border: #EBC920 1px solid;
        box-shadow: 1px 1px 1px 1px rgba(173, 147, 13, 0.527);
        
    }
    #publicar img{
        width: 8%;
    }
    #btnPublicar{
        position: absolute;
        left: 11%;
        width: 70%;
        height: 50%;
        background-color: white;
        border: #EBC920 1.5px solid;
        border-radius: 12px;
        color: gray;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
    }
    #btnPublicar:hover{
        background-color: #EBC920;
        color: white;
    }
   #btnPostear{
    position: absolute;
    left: 11%;
    width: 20%;
    height: 5%;
    background-color: white;
    border: #EBC920 1.5px solid;
    border-radius: 12px;
    color: gray;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
   }
   form{
       background-color: blue;
       height: 700px;
   }
}

    @media (max-width:500px){
        .desktop{
            display: none;
        }
        body{
        background-color: #EBC920;
        margin: 0;
        font-family:  'Roboto', sans-serif;
        font-weight: bold;
       }
       #logoinicio{
           width: 65%;
           position: absolute;
           top: 10%;
           left: 19%;
        
       }
       input{
           width: 66%;
           height: 3%;
           border: 1.5px solid #b89a03;
           border-radius: 5px;
           padding: 2%;
       }
       textarea:focus, input:focus {
          outline: none; 
          border: 2.5px solid #b89a03;
        }
       #email{
           position: absolute;
           top: 38%;
           left: 14%;
       }
       #contraseña{
           position: absolute;
           top: 47%;
           left: 14%;
           
       }
       .botones{
           width: 48%;
           height: 6%;
           border-radius: 3px;
           box-shadow: 1px 1px 1px 1px rgba(56, 55, 55, 0.527);
           border: none;
           font-family:  'Roboto', sans-serif;
           font-weight: bold;
       }
       #loginbo{
           background-color: black;
           color: white;
           position: absolute;
           top: 57%;
           left: 26%;
       }
       #loginbo:hover{
          background-color: rgba(34, 33, 33, 0.973);
          
      }
       #google{
          background-color: white;
          color: black;
          position: absolute;
          top: 66%;
          left: 26%;
          
        
      }
       #iconogoo{
          width: 12%;
      }
      .letras1{
       font-size: 11px;
       position: absolute;
       top: 72%;
       left: 31%;
   }
   .letras2{
      font-size: 14px;
      position: absolute;
      top: 78%;
      left: 21%;
   }
   #registro{
      font-size: 13px;
      position: absolute;
      top: 83%;
      left: 36%;
      text-decoration-line: underline;
      background: none;
      border: none;
      font-weight: bold;
      cursor: pointer;
   }
   #botonRegi{
    position: absolute;
    top: 68%;
    left:26%;
    background-color: black;
    color: white;
}
#emailRegi{
    position: absolute;
    top:38%;
    left: 14%;
}
#contraseñaRegi{
  position:absolute;
  top:47%;
  left:14%; 
}
#contraseñaRegidos{
  position:absolute;
  top:56%;
  left:14%; 
}
.invisible{
    font-size: 14px;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
#letras1{
    position: absolute;
    top: 74%;
    left: 26%;
}

.modal1{
    position:absolute;
    width: 20%;
    height: 39%;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    top:50%;
    border: 2px solid #FF0606;
    transform: translate(-50%, -50%);
}
.contmodal{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;

}
#iconomal{
 position: relative;
 width: 30%;
 left: 35%;
 top:10%;
}
.mensajemal{
    text-align: center;
    position: relative;
    top:5%;
}
#botonVolver{
    background-color: black;
    color: white;
    width: 75%;
    height: 18%;
    position: relative;
    left: 27.5%;
    top: 5%;
}
a{
    text-decoration:none ;
    color: white;
}
#ojito{
    background: none;
    border: none;
    position: absolute;
    top: 48.5%;
    left: 73%;
    cursor: pointer;
}
}