:root {
  --logo-color: #b21e48;
  --btnSignIn-color: #951c45;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

/* .material-icons-outlined {
  font-family: "Material Icons";
} */
/*********************************mobile de landing page*******************************/

body {
  background-image: url("./assets/photo-1543002588-bfa74002ed7e\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  height: 100%;
}

.logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-book {
  width: 76px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.titleBookReads {
  width: 254px;
  margin-bottom: 1rem;
}

.sloganSN {
  color: var(--logo-color);
  font-size: 22px;
}

.sign-up-in-container {
  position: absolute;
  width: 100%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sign-up page */
.createAccount-container,
.addInfo-container {
  background-color: white;
  border-radius: 10% 10% 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.createAccount-container h2,
.addInfo-container h2 {
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
}

.account-form,
.addInfo-form {
  margin: 5% 12%;
}

.label-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0.5em;
  margin-bottom: 3%;
}

.account-form label,
.addInfo-form label {
  line-height: 2.5rem;
  width: 100%;
}

.account-form img,
.addInfo-form img {
  margin-right: 0.4rem;
}

.account-form input,
.enterAccount-form input,
.addInfo-form input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  width: 100%;
  padding-top: 0.5rem;
  margin-bottom: 4%;
  background: transparent;
}

.account-form input:focus {
  background-color: #ddd;
}

.eye-icon {
  cursor: pointer;
  margin-bottom: -4.9rem;
  margin-right: 0.2rem;
  z-index: 3;
}

.btn-signUp,
.btn-accept {
  margin: 2% auto;
  border-radius: 30px;
  border: none;
  width: 65%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--btnSignIn-color);
  cursor: pointer;
  align-self: center;
}

.btn-signIn {
  margin-top: 10%;
  border-radius: 30px;
  border: none;
  width: 65%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 20px;
  color: var(--btnSignIn-color);
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}
.btn-accept {
  margin-bottom: 0.5rem;
}

.btn-signUp:active,
.btn-accept:active {
  border: solid 1px #d42a5b;
}

.btn-signUp:disabled {
  background-color: #f7aab9;
}

.btn-signIn:active {
  transform: translateY(4px);
  color: black;
  border: solid 1px #d42a5b;
}

.otherProviders {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.otherProviders label {
  margin: 2% auto;
  display: block;
  text-align: center;
  width: 100%;
}

.otherProviders img {
  margin: 3%;
  cursor: pointer;
}

.logosProviders {
  display: flex;
  justify-content: space-evenly;
}

/* Sign-in page */

.enterAccount-container {
  position: absolute;
  background-color: white;
  border-radius: 10% 10% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  bottom: 0px;
}

.enterAccount-container h2 {
  padding-top: 5%;
  text-align: left;
  font-size: 1.5em;
  width: 100%;
}

.enterAccount-form {
  margin: 10% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.enterAccount-form label {
  width: 100%;
  font-size: 18px;
}

.enterAccount-form img {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.4rem;
}

.enterAccount-form input:focus {
  background-color: #ddd;
}

.btn-signInWelcome {
  border-radius: 30px;
  border: none;
  width: 70%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--btnSignIn-color);
  cursor: pointer;
  align-self: center;
}

.btn-signInWelcome:active {
  transform: translateY(4px);
  color: black;
  border: none;
}

/* Mensaje de error */
.error {
  display: block;
  color: red;
  padding: 2%;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 1%;
  width: 100%;
}

/**Add info container**/

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addInfo-form img {
  width: 1.5em;
}

#txtProfilename {
  margin-bottom: 1em;
}

.addInfo-form textarea {
  outline: 0;
  border-color: black;
  padding-top: 0.3rem;
  height: 4rem;
  resize: none;
  width: 100%;
}

#errorAreaUsername {
  height: 1em;
  display: block;
  color: red;
  padding-bottom: 2%;
}

#errorAreaForm {
  height: 3em;
  display: block;
  color: red;
  padding-bottom: 2%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 1rem;
  text-align: center;
}

/* Feed section */
.reading-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  /* body {
    background-image: none;
  } */

  #root {
    width: 100%;
    height: 100%;
  }

  .lp-content {
    display: flex;
    height: 100%;
  }

  .landing-page-container {
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sign-up-in-container {
    position: relative;
  }

  .landing-page-img {
    background-image: url("./assets/front-page-img.jpg");
    background-repeat: no-repeat;
    background-color: #951c45;
    background-size: cover;
    width: 60%;
    height: 100vh;
    background-position-y: 50%;
  }

  .logo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  .logo-book {
    width: 76px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .titleBookReads {
    width: 254px;
    margin-bottom: 1rem;
  }

  .sloganSN {
    color: var(--logo-color);
    font-size: 22px;
  }

  .createAccount-container,
  .addInfo-container {
    background-color: white;
    width: 45%;
    border-radius: 0;
    height: 100%;
    flex-wrap: nowrap;
    position: initial;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
  }

  .createAccount-container h2,
  .addInfo-container h2 {
    padding-top: 7%;
    text-align: left;
    font-size: 2em;
    width: 100%;
  }

  .account-form,
  .addInfo-form {
    margin: 5% 12% 5% 12%;
  }

  .account-form label,
  .addInfo-form label {
    line-height: 3em;
    width: 100%;
  }

  .account-form img,
  .addInfo-form img {
    display: flex;
    flex-wrap: wrap;
  }

  .account-form input,
  .addInfo-form input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 100%;
  }

  .account-form input:focus {
    background-color: #ddd;
  }

  .eye-icon {
    left: 35%;
    margin-bottom: -4.9rem;
  }

  .btn-signUp,
  .btn-accept {
    margin-top: 2%;
    border-radius: 30px;
    border: none;
    width: 70%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: var(--btnSignIn-color);
    cursor: pointer;
    align-self: center;
  }

  .btn-signIn {
    border: solid 1px var(--btnSignIn-color);
  }

  .enterAccount-container {
    border-radius: 0;
    width: 40%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .enterAccount-container h2 {
    margin-top: 20%;
  }

  .landing-page-img #header {
    display: none;
  }
}
