* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /* outline: 1px solid red;*/
  width: 360px;
  height: 640px;
}

@font-face {
  font-family: 'arcade';
  src: url(./assets/ka1.ttf);
}

body {
  background: linear-gradient(to bottom, #010409, #5b1e87);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Primera seccion login */

#logIn {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
}

.meetArcade {
  width: 95%;
  padding-left: 20px;
  height: 260px;
  /* justify-self: center; */
}

.divContainer {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  width: 100%;
  height: 52px;
}

.log {
  width: 132px;
  height: 52px;
  font-weight: bolder;
  color: #e587ed;
  background-color: #c4c4c400;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
  border-radius: 15px;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 18px;
}

/* Segunda seccion join us */

.screenJoin {
  display: flex;
  flex-flow: wrap column;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 20px;
  align-items: center;
}

.titles {
  font-family: 'arcade', Arial, Helvetica, sans-serif;
  line-height: 28px;
  font-size: 24px;
  justify-content: center;
  margin-left: 30px;
  color: #28cef2;
  text-shadow: 0px 0px 5px #e587ed;
  height: 50px;
  padding-top: 8px;
}

.arrowBack {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 15px 10px 15px;
}

.sign {
  color: #f2a928;
  height: auto;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  height: 60px;
  margin-bottom: 50px;
}

.container img {
  width: 90px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
}

.formContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -15px;
}

.text {
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: fit-content;
  width: fit-content;
}

.inputs {
  color: #e587ed;
  width: 240px;
  height: 50px;
  background: #c4c4c440;
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 18px;
  display: flex;
}

.inputs::placeholder {
  font-size: 16px;
  color: #808080;
}

.eye {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  bottom: 2.5rem;
  left: 6.5rem;
}

.messages {
  width: fit-content;
  height: fit-content;
  color: #f2a928;
  font-size: 14px;
}

.btn:hover {
  color: #3c155c;
  background-color: #e587ed;
}

.btnsSign {
  width: 119px;
  height: 46px;
  color: #e587ed;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
  border-radius: 10px;
  background-color: #c4c4c400;
  margin-left: 32%;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}

.btnShootIn {
  width: 119px;
  height: 46px;
  color: #e587ed;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px #e587edbf;
  border-radius: 10px;
  background-color: #c4c4c400;
  margin-left: inherit;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}

.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  width: auto;
  margin-top: auto;
}

.btnRefLogin {
  width: 119px;
  height: 46px;
  color: #f2a928;
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

/* .sign a{
    color: #F2A928;
    height: auto;
    margin-left: 5px;
    font-size: 18px;
    font-family:'Roboto', sans-serif; 
}   */

.usernameHeader {
  position: absolute;
  width: 22.5rem;
  height: 5rem;
  left: 0px;
  top: 0px;
  background: #632195;
  border: 1px solid #E587ED;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px #e587edbf;
}

#postText {
  width: 16rem;
  height: 3rem;
  resize: none;
}

.userImg {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 6.67%;
  right: 78.61%;
  top: 14.46%;
  bottom: 21.69%;
  border: 2px solid #e587edbf;
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px #e587edbf
}

.username {
  position: absolute;
  font-family: 'arcade', Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-size: 16px;
  margin-left: 30px;
  color: #28cef2;
  text-shadow: 0px 0px 5px #E587ED;
  height: 50px;
  padding-top: 8px;
  width: fit-content;
  height: fit-content;
  margin-left: 100px;
  margin-top: 3px;
}

.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.activity {
  height: fit-content;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
}

.sectionContainerPost {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto;
  margin-top: 20px;
  width: 298px;
  height: 84px;
  background: rgba(73, 25, 110, 0.24);
  border: 1px solid #e587ed;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #e587ed;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 20px;
}

.sectionContainerPost > img {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #e587edbf;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px #e587edbf;
  grid-row: 1/4;
  grid-column: 1/2;
  align-items: center;
  justify-items: center;
  position: absolute;
  margin-left: 10px;
}

.sectionContainerPost > button {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  margin-right: 10px;
  cursor: pointer;
}

.usernamePost {
  color: transparent;
  font-size: 0;
  height: fit-content;
  width: 200px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: start;
  padding-left: 10px;
}

#postText {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  margin-right: 10px;
  width: 192px;
  height: 35px;
  color: #e587ed;
  background: #3f2959;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 18px;
  resize: none;
}

#postText::placeholder {
  font-size: 15px;
  color: #f3f3f33b;
  padding-left: 20px;
}

.submitPost {
  width: 76px;
  height: 25px;
  font-size: 14px;
  line-height: 16px;
  color: #10ebc1;
  text-shadow: 0px 0px 5px #10ebc1;
  border: 1px solid #10ebc1;
  box-shadow: 0px 0px 5px 1px #10ebc1bf;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 50px;
  background: #632195;
  border: 1px solid #e587ed;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #e587ed;
  display: flex;
  justify-content: flex-end;
}

.footer button {
  align-self: center;
  margin-right: 10px;
}