* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red;*/
  width: 360px;
  height: 640px;
}

@font-face {
  font-family: arcade;
  src: url(./assets/ka1.ttf);
}

@font-face {
  font-family: neon;
  src: url(./assets/NEON____.TTF);
}

body {
  background: linear-gradient(to bottom, #010409, #5b1e87);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Primera seccion login */

#logIn {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
}

.meetArcade {
  width: 95%;
  padding-left: 20px;
  height: 260px;
  /* justify-self: center; */
}

.divContainer {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  width: 100%;
  height: 52px;
}

.log {
  width: 132px;
  height: 52px;
  font-weight: bolder;
  color: #e587ed;
  background-color: #c4c4c400;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
  border-radius: 15px;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 18px;
}

/* Segunda seccion join us */

.screenJoin {
  display: flex;
  flex-flow: wrap column;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 20px;
  align-items: center;
}

.titles {
  font-family: arcade, sans-serif;
  line-height: 28px;
  font-size: 24px;
  justify-content: center;
  margin-left: 30px;
  color: #28cef2;
  text-shadow: 0px 0px 5px #e587ed;
  height: 50px;
  padding-top: 8px;
}

.arrowBack {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 15px 10px 15px;
}
<<<<<<< HEAD
.container img{
    width: 90px;
    height: 60px;
    margin-left: 20px;
}
.formContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 18px;
    color: #FFFFFF;
    font-family:'Roboto', sans-serif; 
    margin-left: 20px;
    height: fit-content;
    width: fit-content;
}
.inputs{
    color: #E587ED;
    width: 240px;
    height: 50px;
    background: rgba(196, 196, 196, 0.25);
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 18px;
   display: flex;
}
.inputs::placeholder{
font-size: 18px;
color: gray;
}

.messages{
    width: fit-content;
    height: fit-content;
    color: #F2A928;
    font-size: 14px;
}
.btnsSign{
    width: 119px;
    height: 46px;
    color: #E587ED;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #E587ED;
    box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
    border-radius: 10px;
    background-color: #c4c4c400;
    margin-left: 100px; 
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
=======

.sign {
  color: #f2a928;
  height: auto;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  height: 60px;
  margin-bottom: 50px;
}

.container img {
  width: 90px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
}

.formContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -15px;

}

.text {
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: fit-content;
  width: fit-content;
}

.inputs {
  color: #e587ed;
  width: 240px;
  height: 50px;
  background: rgba(196, 196, 196, 0.25);
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 18px;
  display: flex;
}

.inputs::placeholder {
  font-size: 16px;
  color: gray;
}

.eye {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  bottom: 2.5rem;
  left: 6.5rem;
}

.messages {
  width: fit-content;
  height: fit-content;
  color: #f2a928;
  font-size: 14px;
}

.btnsSign {
  width: 119px;
  height: 46px;
  color: #e587ed;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
  border-radius: 10px;
  background-color: #c4c4c400;
  margin-left: 32%;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #3c155c;
  background-color: #e587ed;
}

.btnShootIn {
  width: 119px;
  height: 46px;
  color: #e587ed;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #e587ed;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75);
  border-radius: 10px;
  background-color: #c4c4c400;
  margin-left: inherit;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}

.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  width: auto;
  margin-top: auto;
}

.btnRefLogin {
  width: 119px;
  height: 46px;
  color: #f2a928;
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.usernameHeader {
  position: absolute;
  width: 22.5rem;
  height: 5rem;
  left: 0px;
  top: 0px;
  background: #632195;
  border: 1px solid #E587ED;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(229, 135, 237, 0.75);
}

#postText {
  width: 16rem;
  height: 3rem;
  resize: none;
}

#submitPost {
  width: 132px;
  height: 52px;
  font-weight: bolder;
  color: #10EBC1;
  background-color: #c4c4c400;
  border: 3px solid #10EBC1;
  box-shadow: 0px 0px 5px 3px #10EBC1;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.userImg {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 6.67%;
  right: 78.61%;
  top: 14.46%;
  bottom: 21.69%;
  border: 2px solid rgba(229, 135, 237, 0.75);
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px rgba(229, 135, 237, 0.75)
}

.username {
  position: absolute;
  left: 26.39%;
  right: 31.94%;
  top: 27.71%;
  bottom: 51.81%;
  font-family: arcade, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #28CEF2;
  text-shadow: 0px 0px 5px #E587ED;
>>>>>>> ea2c9b9bc4987d72b1f8654e745a37b9a8094fc5
}

/* .sign a{
    color: #F2A928;
    height: auto;
    margin-left: 5px;
    font-size: 18px;
    font-family:'Roboto', sans-serif; 
}   */