@media (min-width:801px){
   
    body{
           background-color: #EBC920;
           margin: 0;
           font-family:  'Roboto', sans-serif;
           font-weight: bold;
           
       }
    #cocina{
        margin: 0%;
        width: 45%;
        height: 100%;
        position: fixed;
    }
    #login{
        width: 27%;
        height: 78%;
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 18px;
        box-shadow: 2px 2px 2px 2px rgba(56, 55, 55, 0.527);
        position: absolute;
        top: 11%;
        left: 58%;
        padding: 1%;
    }
    #logoinicio{
        width: 55%;
        position: relative;
        top: 2%;
        left: 23%;
     
    }
    input{
        width: 65%;
        height: 5%;
        border: 1.5px solid #EBC920;
        border-radius: 5px;
        padding: 2%;
    }
    textarea:focus, input:focus {
       outline: none; 
       border: 2.5px solid #EBC920;
     }
    #email{
        position: relative;
        top: 8%;
        left: 14%;
    }
    #contraseña{
        position: relative;
        top: 11%;
        left: 14%;
        
    }
    .botones{
        width: 45%;
        height: 7%;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px rgba(56, 55, 55, 0.527);
        border: none;
        font-family:  'Roboto', sans-serif;
        font-weight: bold;
        cursor: pointer;
    }
     #loginbo{
        background-color: black;
        color: white;
        position: relative;
        top: 15%;
        left: 27%;
    }
    #loginbo:hover{
       background-color: rgba(34, 33, 33, 0.973);
       
   }
    #google{
       background-color: white;
       color: black;
       position: relative;
       top: 27%;
       right: 18%;
       text-align: right;
       padding-right: 3.5%;
    }
    #iconogoo{
       width: 12%;
       position: absolute;
       top: 23%;
       right: 82%;
    }
    #letras1{
        font-size: 11px;
        position: relative;
        top: 28%;
        left: 29%;
    }
    .letras2{
       font-size: 14px;
       position: relative;
       top: 29%;
       left: 22%;
    }
   .invisible{
       font-size: 13px;
       background: none;
       border: none;
       font-weight: bold;
       cursor: pointer;
    }
   #registro{
       position: relative;
       top: 27%;
       left: 35%;
       text-decoration-line: underline;
    }
   #registrar{
        background-color: black;
        color: white;
        position: relative;
        top: 15%;
        left: 27%;
    }
    #loginbo:hover{
        background-color: rgba(34, 33, 33, 0.973);
          
    }
    #botonRegi{
        position: relative;
        top: 25%;
        left: 27%;
        background-color: black;
        color: white;
    }
    #nombreRegistro{
        position: relative;
        top: 7%;
        left: 14%;
    }
    #emailRegi{
        position: relative;
        top: 8%;
        left: 14%;
    }
    #contraseñaRegi{
    position: relative;
    top: 11%;
    left: 14%; 
    }
    #contraseñaRegidos{
        position:relative;
        top: 14%;
        left: 14%; 
    }
    .modal1{
        position:absolute;
        width: 20%;
        height: 39%;
        background-color: white;
        border-radius: 10px;
        left: 85%;
        top:50%;
        border: 2px solid #FF0606;
        transform: translate(-50%, -50%);
    }
    .contmodal{
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 9999;
        visibility: hidden;
        opacity: 0;
        transition: all 600ms;
    
    }
    #iconomal{
     position: relative;
     width: 30%;
     left: 35%;
     top: 10%;
    }
    .mensajemal{
        text-align: center;
        position: relative;
        top: 5%;
    }
    #botonVolver{
        background-color: black;
        color: white;
        width: 45%;
        height: 12%;
        position: relative;
        left: 27.5%;
        top: 5%;
    }
    a{
        text-decoration:none ;
        color: white;
    }
    #ojito{
        background: none;
        border: none;
        position: absolute;
        top: 44%;
        left: 71%;
        cursor: pointer;
    }
    #ojitoRegistro{
        background: none;
        border: none;
        position: absolute;
        top: 45%;
        left: 71%;
        cursor: pointer;
    }
    #ojitoRegistro2{
        background: none;
        border: none;
        position: absolute;
        top: 55%;
        left: 71%;
        cursor: pointer;
    }
    #seccionMuro{
        background-color: white;
        width: 100%;
        height: 100%;
       
      
    }
    #cabeza{
        position: fixed;
        background-color: #EBC920;
        width: 100%;
        height: 15%;
        z-index: 1;
    }
    #buscador {
        width: 20%;
        height: 1.5%;
        padding: 1%;
        position: absolute;
        top: 43.5%;
        left: 48%;
    }
    #lupaimg{
        width:100%;
    }
    #lupita{
        width: 2.6%;
        position: absolute;
        top: 44.2%;
        left: 65.5%;
        background-color: #ebc920a1;
        border: none;
        cursor: pointer;
    }
    #filtrador{
        position: absolute;
        width: 8%;
        height: 33%;
        top: 42%;
        font-size:medium;
        left: 84%;
        border-radius: 5px;
        border: none;
        background-color: #EBC920;
        font-weight:800;
    }
    #logoMuro{
        width: 11%;
        position: relative;
        left: 3%;
        margin: 0.5%;
        margin-left: 1%;
    }
    #contenedorPerfil{
        top:15%;
        width: 25%;
        height: 528px;
        background-color: #F8ECB1;
        position: fixed;
        left: 75%;
        display: flex;
    }
    #perfilCaja{
        position: relative;
        left: 10%;
        background-color: #EBC920;
        width: 80%;
        height: 80%;
        border-radius: 10px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #fotoPortada{
        width: 100%;
        display: flex;
    }
    #fotousuario{
        position: absolute;
        top: 18%;
        left: 28%;
        width: 45%;
        border-radius: 50%;
    }
    #nombreUser{
        width:fit-content;
        position: relative;
        top: 14%;
        left: 38%;
        font-size: 18px;
        font-weight: bold;
    }
    #btnCerrarSesion{
        background: red;
        border: none;
        position: relative;
        top: 40%;
        color: black;
        font-size: medium;
        font-weight: bold;
        cursor: pointer;
        width: 70%;
        height: 10%;
        border-radius: 10px;
    }
    #cerrarSesionImg{
        width: 20%;
        position: relative;
        right: 60%;
        bottom: 5%;
    }

    #publicar{
        background-color: white;
        position: absolute;
        left: 7%;
        top: 21%;
        width: 59%;
        height: 11%;
        margin: 0%;
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: #EBC920 1px solid;
        box-shadow: 2px 2px 2px 2px rgba(56, 55, 55, 0.096);
    }

    #usuarioPublicar{
        width: 8.5%;
        position:absolute;
        top:13%;
        left: 5%;
        border-radius: 50%;
     }
    #btnPublicar{
        position: absolute;
        left: 15%;
        top: 26%;
        width: 80%;
        height: 50%;
        background-color: white;
        border: #EBC920 1.5px solid;
        border-radius: 8px;
        color: gray;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
    }
    #btnPublicar:hover{
        background-color: #ebc92010;
        border: #EBC920 2px solid;
    }
    form{
        position: fixed;
        top:21%;
        left:4.5%;
        width: 62%;
        background-color: white;
        height: 700px;
        border: #EBC920 2px solid;
        border-radius: 5px;
        z-index:1000;
        visibility: hidden;
        padding: 2%;
        box-shadow: 2px 2px 2px 2px rgba(56, 55, 55, 0.527);

    }
    label{
        font-size: 12px;
    }
    #cerrarModal{
        width: 5%;
        height: 5%;
        padding: 1%;
        background: none;
        border:none;
        position: absolute;
        top: 1%;
        left: 95%;
        cursor: pointer;
       
    }
    #labelReceta{
        position: absolute;
        top:7%;
        left: 11%;

    }
    #inputReceta{
        width: 45%;
        height: 1%;
        position:absolute;
        top:10%;
        left: 10%;
    }
    #labelIngredientes{
        position: absolute;
        top:18%;
        left: 11%;
    }
    #inputIngredientes{
       width: 79%;
       height: 5%;
       position: absolute;
       top:21%;
       left: 10%;
       border: 1.5px solid #EBC920;
       border-radius: 5px;
       padding: 2%;
      
    
    }
    #labelProcedimiento{
        position: absolute;
        top:34%;
        left: 11%;
    }
    #inputProcedimiento{
        width: 79%;
        height: 15%;
        position: absolute;
        top:37%;
        left: 10%;
        border: 1.5px solid #EBC920;
       border-radius: 5px;
       padding: 2%;
    }
    #labelCategoria{
        position:absolute;
        top:7%;
        left: 66%;
    }
    #selectCategoria{
        width: 15%;
        height: 6%;
        position:absolute;
        top:10%;
        left: 65%;
        border: 1.5px solid #EBC920;
        border-radius: 5px;
    
    }
    textarea:focus, select:focus {
        outline: none; 
        border: 3px solid #EBC920;
      }
     #btnPostear{
        width: 12%;
        height: 4%;
        background-color:black;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px rgba(56, 55, 55, 0.527);
        color: white;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top:60%;
        left: 80%;
        border:none;
     }
     #btnPostear:hover{
        background-color: rgba(34, 33, 33, 0.973);
        
    }
    #postPublicado{
        width: 75%;
        padding-top: 9.7%;
        background-color: white;
        position: absolute;
        top: 15%;
        z-index: -1;
    }
   .post{
       background-color: white;
       width: 79%;
       padding: 1%;
       border: #EBC920 1.5px solid;
       border-radius: 5px;
       margin: 1%;
       position: relative;
       top:50%;
       left:8.3%;
       box-shadow: 2px 2px 2px 2px rgba(56, 55, 55, 0.096);
      
   }    
   .borrarPost{
    position: absolute;
    left: 90%;
    bottom :80%;
   }
   .editarPost{
       position: absolute;
       left: 90%;
       bottom: 60%;
   }
   pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
 }
}

    @media (max-width:500px){
        .desktop{
            display: none;
        }
        body{
        background-color: #EBC920;
        margin: 0;
        font-family:  'Roboto', sans-serif;
        font-weight: bold;
        }
        #logoinicio{
           width: 65%;
           position: absolute;
           top: 10%;
           left: 19%;
        
        }
        input{
            width: 66%;
            height: 3%;
            border: 1.5px solid #b89a03;
            border-radius: 5px;
            padding: 2%;
        }
        textarea:focus, input:focus {
            outline: none; 
            border: 2.5px solid #b89a03;
        }
        #email{
            position: absolute;
            top: 38%;
            left: 14%;
        }
        #contraseña{
            position: absolute;
            top: 47%;
            left: 14%;
        }
        .botones{
            width: 48%;
            height: 6%;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px rgba(56, 55, 55, 0.527);
            border: none;
            font-family:  'Roboto', sans-serif;
            font-weight: bold;
        }
        #loginbo{
            background-color: black;
            color: white;
            position: absolute;
            top: 57%;
            left: 26%;
        }
        #loginbo:hover{
            background-color: rgba(34, 33, 33, 0.973);
        }
        #google{
           background-color: white;
           color: black;
           position: absolute;
           top: 66%;
           left: 26%;
           text-align: right;
           padding-right: 5%;
        }
        #iconogoo{
           width: 12%;
           position: absolute;
           top: 23%;
           right: 78%;
        }
        .letras1{
           font-size: 11px;
           position: absolute;
           top: 72%;
           left: 31%;
        }
        .letras2{
            font-size: 14px;
            position: absolute;
            top: 78%;
            left: 21%;
        }
        #registro{
            font-size: 13px;
            position: absolute;
            top: 83%;
            left: 36%;
            text-decoration-line: underline;
            background: none;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
        #botonRegi{
            position: absolute;
            top: 68%;
            left:26%;
            background-color: black;
            color: white;
        }
        #emailRegi{
            position: absolute;
            top:38%;
            left: 14%;
        }
        #contraseñaRegi{
            position:absolute;
            top:47%;
            left:14%; 
        }
        #contraseñaRegidos{
            position:absolute;
            top:56%;
            left:14%; 
        }
        .invisible{
            font-size: 14px;
            background: none;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
        #letras1{
           position: absolute;
           top: 74%;
           left: 26%;
        }
        .modal1{
           position:absolute;
           width: 80%;
           height: 50%;
           background-color: white;
           border-radius: 10px;
           left: 50%;
           top:50%;
           border: 2px solid #FF0606;
           transform: translate(-50%, -50%);
        }
        .contmodal{
           width: 100%;
           height: 100%;
           display: flex;
           z-index: 9999;
           visibility: hidden;
           opacity: 0;
           transition: all 600ms;

        }
        #iconomal{
            position: relative;
            width: 30%;
            left: 35%;
            top:10%;
        }
        .mensajemal{
            text-align: center;
            position: relative;
            top:5%;
        }
        #botonVolver{
            background-color: black;
            color: white;
            width: 45%;
            height: 12%;
            position: relative;
            left: 27.5%;
            top: 5%;
        }
        a{
            text-decoration:none ;
            color: white;
        }
        #ojito{
            background: none;
            border: none;
            position: absolute;
            top: 48.5%;
            left: 73%;
            cursor: pointer;
        }
        #ojitoRegistro{
            background: none;
            border: none;
            position: absolute;
            top: 45%;
            left: 71%;
            cursor: pointer;
        }
        #ojitoRegistro2{
            background: none;
            border: none;
            position: absolute;
            top: 55%;
            left: 71%;
            cursor: pointer;
        }
        #seccionMuro{
            background-color: white;
            width: 100%;
             height: 100%;
        }
        #cabeza{
          position: absolute;
          background-color: #EBC920;
          width: 100%;
          height: 10%;
          z-index: 9999;
        }
        #logoMuro{
            width: 25%;
            position: absolute;
            margin: 0.5%;
            margin-left: 1%;
            left: 2%;
        }
        #buscador {
           width: 30%;
           height: 30%;
           padding: 1%;
           position: absolute;
           top: 42%;
           left: 58%;
        }
        #lupaimg{
            width:350%;
        }   
        #lupita{
            width: 4.5%;
            position: absolute;
            background-color: #ebc920a1;
            border: none;
            top: 45.9%;
            left: 83.2%;
            display: flex;
            justify-content: space-around;
        }
        #filtrador{
            display:none;
        } 
        #publicar {
            position: absolute;
            top: 10%;
            background-color: white;
            margin: 0;
            width: 100vw;
            height: 10%;
            border: none;
        }
        #usuarioPublicar{

            width: 11%;
            position: relative;
            left: 3%;
            top:28%;
        }
        #btnPublicar{
            position: absolute;
            left: 18%;
            top: 26%;
            width: 75%;
            height: 50%;
            background-color: white;
            border: #EBC920 1.5px solid;
            border-radius: 8px;
            color: gray;
            font-weight: bold;
            text-align: left;
        }
        #contenedorPerfil{
            width: 25%;
            height: 528px;
            position: fixed;
            left: 75%;
            display: flex;
            background-color: transparent;
            display:flex;
            align-items: flex-end;
            z-index: 100;
        }
        #pefilCaja, #fotoPortada, #fotousuario, #nombreUser{
            display:none
        }
        #btnCerrarSesion{
            background: red;
            border: none;
            position: relative;
            top: 40%;
            color: black;
            font-size: medium;
            font-weight: bold;
            cursor: pointer;
            width: 80%;
            height: 10%;
            display: block;
            z-index: 1;
            border-radius: 10px;
        }
        #cerrarSesionImg{
            width: 20%;
            position: relative;
            right: 60%;
            bottom: 5%;
        }
        form{
            position: fixed;
            top:3.6%;
            left:0%;
            width: 25%;
            height: 500px;
            background-color: white;
            border: #EBC920 1px solid;
            border-radius: 10px;
            z-index:1000;
            visibility: hidden;
            padding: 2%;
    
        }
        label{
            font-size: 12px;
        }
        #cerrarModal{
            width: 5%;
            height: 5%;
            padding: 1%;
            background: none;
            border:none;
            position: absolute;
            top: 1%;
            left: 92%;
            cursor: pointer;
           
        }
        #labelReceta{
            position: absolute;
            top:7%;
            left: 11%;
    
        }
        #inputReceta{
            width: 45%;
            height: 1%;
            position:absolute;
            top:10%;
            left: 10%;
        }
        #labelIngredientes{
            position: absolute;
            top:18%;
            left: 11%;
        }
        #inputIngredientes{
           width: 79%;
           height: 5%;
           position: absolute;
           top:21%;
           left: 10%;
           border: 1.5px solid #EBC920;
           border-radius: 5px;
           padding: 2%;
          
        
        }
        #labelProcedimiento{
            position: absolute;
            top:34%;
            left: 11%;
        }
        #inputProcedimiento{
            width: 79%;
            height: 15%;
            position: absolute;
            top:37%;
            left: 10%;
            border: 1.5px solid #EBC920;
           border-radius: 5px;
           padding: 2%;
        }
        #labelCategoria{
            position:absolute;
            top:7%;
            left: 66%;
        }
        #selectCategoria{
            width: 15%;
            height: 6%;
            position:absolute;
            top:10%;
            left: 65%;
            border: 1.5px solid #EBC920;
            border-radius: 5px;
        
        }
        textarea:focus, select:focus {
            outline: none; 
            border: 3px solid #EBC920;
          }
         #btnPostear{
            width: 12%;
            height: 4%;
            background-color:black;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px rgba(56, 55, 55, 0.527);
            color: white;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            position: absolute;
            top:60%;
            left: 80%;
            border:none;
         }
            #postPublicado{
            width: 107%;
            display: flex;
            flex-wrap: wrap;
            background:white;
            position: absolute;
            top: 22.5%;
        }
        .post{
        background-color: white;
        width: 100vw;
        padding: 1%;
        border: #EBC920 1.5px solid;
        border-radius: 5px;
        margin: 1.5%;
        position: relative;
        top:50%;
        left:.3%;
        box-shadow: 2px 2px 2px 2px rgba(56, 55, 55, 0.212);
       
    }    
        .borrarPost{
            position: absolute;
            left: 70%;
            bottom :80%;
        }
        .editarPost{
            position: absolute;
            left: 70%;
            bottom: 60%;
        }
  
    }