@media screen and (max-width: 480px){
    #root{
        display:flex;
        flex-wrap: wrap;
    }
    body {
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 20px;
    }

.containerStart{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius:20px;
        row-gap: 5px;
        margin-top: 30%
    }
    .welcomeText{
        text-align: center;
        }

.containerButtons{
    Display:flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.logo{
    max-width: 100%;
}

.button {
 /* display:flex; */
 background-color: #6462D9;
 color:#ffff;
 border: 3px solid #3734CE;
 font-size: 1.2rem;
 width: auto;
 min-width: 10rem;
 padding: 15px 30px 15px 30px;
 text-align: center;
 border-radius: 35px;
 text-decoration: none;
}
.githubGoogleButtons{
    display: flex;
    row-gap: 5px;
    flex-direction: column;
}
.register{
    border-radius: 6px;
    width: 300px;
    height:40px;
    text-align: center;
    border: 3px solid #a4a3dd;
    font-size: 1.2rem;
}
.registerText{
    text-align: center; 
}
.containerRegister{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius:20px;
    row-gap: 5px;
}
.register:focus{
    outline: none;
    border: 3px solid #3734CE;
}
.register:focus-visible{
    outline-offset: 0px;
}
.registerText{
    text-align: center; 
}

#maskify{
    position: relative;
    left:120px;
    top: -142px;
    }
#imgMaskify{
    position: relative;
    top: -153px;
    left: 125px;
}

.registerButton{
    background-color: #AE69BF;
    color:#ffff;
    font-size: 1rem;
     width: 135px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    border-radius: 35px;
    text-decoration: none;
}
.containerInputR{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}
/*FEED */
/*Vista feed */
#feedView{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0;
    background-color:yellow;
    
}
#postFeed{
    width: 300px;
    background-color:green;
}
.sectionPost{
    background-color:blue;
    z-index: 30;
}

#feedHeader{
    display: flex;
    background-color: #A653BB;
    width: 100%;
    height: 20%;
    justify-content: flex-end;
    align-items:center;
    position: sticky;
    top: 0px;

}
#feedFooter{
    position: sticky;
    bottom: 0px;
    display: flex;
    background-color: #A653BB;
    width: 100%;
    height: 55px;
    column-gap: 60px;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}
#searchFeed{
    width:280px;
    margin-right: 10px;
}
#logoFeed{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top:10px;
}


/* POST TEMPLATE */
/* 
#divPost{
   display: flex;
   flex-direction: column;
   background-color: white;
   width: 90%;
   row-gap: auto;
   border: 3px solid #9531AE;
} */
#templateTop{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5%;
    margin-top: 5%;
    margin-left:5%
}
#profileName{
    background-color:#1F1BC8;
    opacity: 0.8;
    color:white;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    text-align: left;
    padding-top:2%;
    padding-left: 4%;
}
#dots{
    position: relative;
    left: 35px;
}
#inputPost{
    width: 80%;
    margin-left: 5%;
    height: auto;
    word-wrap: break-word;

}
#likeComment{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10%;
    align-items: center;
    margin-bottom:5%;
}

}

