:root {
  --logo-color: #b21e48;
  --btnSignIn-color: #951c45;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

.material-icons-outlined {
  font-family: "Material Icons";
}
/*********************************mobile de landing page*******************************/

body {
  background-image: url("./assets/photo-1543002588-bfa74002ed7e\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-book {
  width: 76px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.titleBookReads {
  width: 254px;
  margin-bottom: 1rem;
}

.sloganSN {
  color: var(--logo-color);
  font-size: 22px;
}

.sign-up-in-container {
  position: absolute;
  width: 100%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sign-up page */
.createAccount-container {
  background-color: white;
  border-radius: 10% 10% 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.createAccount-container h2 {
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
}

.account-form,
.addInfo-form {
  margin: 10% 12% 5% 12%;
}

.label-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}

.account-form label {
  line-height: 2.5rem;
  width: 100%;
}

.account-form img {
  margin-right: 0.4rem;
}

.account-form input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  width: 100%;
  padding-top: 0.5rem;
  margin-bottom: 2%;
}

.account-form input:focus {
  background-color: #ddd;
}

.eye-icon {
  cursor: pointer;
}

.btn-signUp {
  margin: 3% auto;
  border-radius: 30px;
  border: none;
  width: 65%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--btnSignIn-color);
  cursor: pointer;
  align-self: center;
}

.btn-signIn {
  margin-top: 10%;
  border-radius: 30px;
  border: none;
  width: 65%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 20px;
  color: var(--btnSignIn-color);
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

.btn-signUp:active {
  transform: scale(1.01);
  border: solid 1px #d42a5b;
}

.btn-signIn:active {
  transform: scale(1.01);
  border: solid 1px #d42a5b;
}

.otherProviders {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.otherProviders label {
  display: block;
  text-align: center;
  width: 100%;
}

.otherProviders img {
  margin: 3%;
}

.logosProviders {
  display: flex;
  justify-content: space-evenly;
}

/* Mensaje de error */
.error {
  display: block;
  color: red;
  padding: 2%;
  text-align: center;
}

/**Add info container**/

.addInfo-form img {
  width: 1.5em;
}

/**enterAccount-container**/

.enterAccount-container {
  position: absolute;
  background-color: white;
  border-radius: 10% 10% 0 0;
  bottom: 0;
  height: 62%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    background-image: none;
  }

  #root {
    width: 100%;
    height: 100%;
  }

  .lp-content {
    display: flex;
    height: 100%;
  }

  .landing-page-container {
    background-color: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sign-up-in-container {
    position: relative;
  }

  .landing-page-img {
    background-image: url("./assets/front-page-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #951c45;
    width: 55%;
  }

  .logo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  .logo-book {
    width: 76px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .titleBookReads {
    width: 254px;
    margin-bottom: 1rem;
  }

  .sloganSN {
    color: var(--logo-color);
    font-size: 22px;
  }

  .createAccount-container {
    background-color: white;
    width: 45%;
    border-radius: 0;
    height: 100%;
    flex-wrap: nowrap;
    position: initial;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
  }

  .createAccount-container h2 {
    padding-top: 7%;
    text-align: left;
    font-size: 2em;
    width: 100%;
  }

  .account-form {
    margin: 5% 12% 5% 12%;
  }
  .account-form label {
    line-height: 4em;
    width: 100%;
  }

  .account-form img {
    display: flex;
    flex-wrap: wrap;
  }

  .account-form input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    width: 100%;
  }

  .account-form input:focus {
    background-color: #ddd;
  }

  .eye-icon {
    left: 35%;
  }

  .btn-signUp {
    margin-top: 2%;
    border-radius: 30px;
    border: none;
    width: 70%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: var(--btnSignIn-color);
    cursor: pointer;
    align-self: center;
  }

  .btn-signIn {
    border: solid 1px var(--btnSignIn-color);
  }

  .enterAccount-container {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10% 10% 0 0;
    bottom: 0;
    height: 62%;
    width: 100%;
  }
}

/* @media screen and (min-width: 768px){
      body {
          background-image: none;
          display: flex;
      }
  
      .landing-page-container {
          background-color: white;
          width: 45%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
      }
  
      .sign-up-in-container {
          position: relative;
      }
  
      .landing-page-img {
          background-image: url("./assets/front-page-img.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #951c45;
          width: 55%;
      }
  
      .btn-signIn {
          border: solid 1px var(--btnSignIn-color);
      } 
  
      .createAccount-container{
          display: none;
      } 
  
      .enterAccount-container{
          display: none;
      }
  }
} */
